.vote-animation {
    position: relative;
    width: 200px;
    height: 260px;
  }
  
  .ballot-box {
    width: 160px;
    height: 120px;
    background: #0d6efd;
    border-radius: 6px;
    position: relative;
    margin: auto;
  }
  
  .slot {
    width: 80px;
    height: 10px;
    background:red;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
  }
  
  .ballot {
    width: 40px;
    height: 30px;
    background: #ffc107;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    animation: dropVote 2.5s infinite ease-in-out;
  }
  
  @keyframes dropVote {
    0% {
      top: -40px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    70% {
      top: 55px;
      opacity: 1;
    }
    100% {
      top: 55px;
      opacity: 0;
    }
  }

  
.login-bg {
    min-height: 100vh;
    display: flex;
    align-items: center;
  
    background: linear-gradient(
      -45deg,
      #0d6efd,
      #6610f2,
      #198754,
      #0dcaf0
    );
    background-size: 400% 400%;
    animation: gradientFlow 15s ease infinite;
  }
  
  
  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  .login-bg .card {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 14px;
    border: none;
    animation: fadeSlide 0.8s ease;
  }
  
  
  @keyframes fadeSlide {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .login-bg h2 {
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #fff;
  }
  
  
  .login-bg .form-control {
    border-radius: 8px;
  }
  
  
  .login-bg .btn-primary {
    transition: all 0.3s ease;
  }
  
  .login-bg .btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  
.login-anime {
    max-width: 90%;
    animation: float 3.5s ease-in-out infinite;
  }
  
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  
  